

/* blue color scheme */

#sidebar .block h3.title, #sidebar2 .block h3.title, #sidebar .block h3.title span, #sidebar2 .block h3.title span,#sidebar .block .block-div,#sidebar2 .block .block-div,#sidebar .block .block-div-arrow,#sidebar2 .block .block-div-arrow{background-image:url(images/blue/block-title.png)}
div.search-form .form-item,div.search-form input.submit{background-image:url(images/blue/search.png);}
li.comment .comment-head, .comment-head{background-image:url(images/blue/comment-head.png);}
li.comment .comment-head.comment-author-admin,li.comment .comment-head.bypostauthor{background-color:#3873bd;}
.tabs-wrap{background-image:url(images/blue/tabs-bg.png);}
.tabs li{background-image:url(images/blue/tabs-c.png);}
.tabs li a{background-image:url(images/blue/tabs.png);}
#site-title p.headline{color:#44a1fb;}
.altText{color:#3873bd;}
.tag-cloud a:hover,.block-widget_tag_cloud a:hover{background-color:#44a1fb;}
