

/* green color scheme (default) */

#sidebar .block h3.title, #sidebar2 .block h3.title, #sidebar .block h3.title span, #sidebar2 .block h3.title span,#sidebar .block .block-div,#sidebar2 .block .block-div,#sidebar .block .block-div-arrow,#sidebar2 .block .block-div-arrow{background-image:url(images/green/block-title.png)}
div.search-form .form-item, div.search-form input.submit{background-image:url(images/green/search.png);}
li.comment .comment-head, .comment-head{background-image:url(images/green/comment-head.png);}
li.comment .comment-head.comment-author-admin,li.comment .comment-head.bypostauthor{background-color:#abd91d;}
.tabs-wrap{background-image:url(images/green/tabs-bg.png);}
.tabs li{background-image:url(images/green/tabs-c.png);}
.tabs li a{background-image:url(images/green/tabs.png);}
#site-title p.headline{color:#c2dc15;}
.altText{color:#a0c207;}
