

/* red color scheme */

#sidebar .block h3.title, #sidebar2 .block h3.title, #sidebar .block h3.title span, #sidebar2 .block h3.title span,#sidebar .block .block-div,#sidebar2 .block .block-div,#sidebar .block .block-div-arrow,#sidebar2 .block .block-div-arrow{background-image:url(images/red/block-title.png)}
div.search-form .form-item,div.search-form input.submit{background-image:url(images/red/search.png);}
li.comment .comment-head, .comment-head{background-image:url(images/red/comment-head.png);}
li.comment .comment-head.comment-author-admin,li.comment .comment-head.bypostauthor{background-color:#d91d27;}
.tabs-wrap{background-image:url(images/red/tabs-bg.png);}
.tabs li{background-image:url(images/red/tabs-c.png);}
.tabs li a{background-image:url(images/red/tabs.png);}
#site-title p.headline{color:#fa2b31;}
.altText{color:#d91d27;}
.tag-cloud a:hover,.block-widget_tag_cloud a:hover{background-color:#fa2b31;}
