body.col-2-right #primary-content{width:70%;min-width:630px;}
body.col-2-right #sidebar{width:30%;min-width:210px;}
body.col-3 #primary-content{left:25%;width:50%;min-width:480px;}
body.col-3 #sidebar{right:0;width:25%;min-width:230px;}
body.col-3 #sidebar2{left:-50%;width:25%;min-width:230px;}
body.col-2-right.no-sidebars #primary-content{width:100%}
body.col-2-right.no-sidebars #sidebar{display: none;}
body.col-2-left #primary-content{width:70%;left:30%;}
body.col-2-left #sidebar2{width:30%;left:-70%;}
body.col-1 .no-sidebars #primary-content{width:100%}
