/*
*/
/**
 * Theme Name: Mystique_theme
 * Theme URI: http://digitalnature.ro/projects/mystique
 * Designed by <a href="http://digitalnature.ro/">digitalnature</a>.
 */

/* reset spacing */
*{
	margin:0;
	padding:0;
	font-family:"Segoe UI",Calibri,"Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif;
}

html,body{min-height:100%;}
body{background:#000 url(images/bg.png) repeat-x center bottom;font-size:13px;font-style:normal;color:#4e4e4e;}

#page{background:transparent url(images/header.jpg) no-repeat center top;}

/* (max. possible width is limited by design, 1735px)  */
.page-content{max-width:1600px;min-width:780px;margin:0 auto;}

/* fluid width page */
body.fluid .page-content{
  padding:0 10px;
  width: auto;
}

/* fixed width page - 960gs */
body.fixed .page-content{
  width:940px;
}

/*** GENERAL ELEMENTS ***/

/* links */
a{color:#0071bb;outline:none;}
a:hover{color:#ed1e24;text-decoration:none;}

/* headings */
h1{font-weight:normal;font-size:270%;letter-spacing:-.04em;line-height:100%;margin:.8em 0 .2em;letter-spacing:-0.04em;}
h2{font-weight:normal;font-size:200%;letter-spacing:-.04em;line-height:110%;margin:.7em 0 .2em;letter-spacing:-0.03em;}
h3{font-size:160%;font-weight:normal;letter-spacing:-.04em;line-height:110%;margin:.7em 0 .2em;letter-spacing:-0.02em;}
h4{font-size:140%;font-weight:bold;margin:.7em 0 .2em;letter-spacing:-0.02em;}
h5{font-family:"Palatino Linotype", Georgia, Serif;font-size:140%;font-weight:bold;margin:.5em 0 .2em;letter-spacing:-0.02em;}
h6{font-size:120%;font-weight:normal;text-transform:uppercase;margin:.5em 0 .2em;}

/* tables */
table{
	margin:.5em 0 1em;
}
table td,table th{text-align:left;border-right:1px solid #fff;padding:.4em .8em;}
table th{background-color:#5e5e5e;color:#fff;text-transform:uppercase;font-weight:bold;border-bottom:1px solid #e8e1c8;}
table td{background-color:#eee;}
table th a{color:#d6f325;}
table th a:hover{color:#fff;}
table tr.even td{background-color:#ddd;}
table tr:hover td{background-color:#fff;}

table.nostyle td,table.nostyle th,table.nostyle tr.even td,table.nostyle tr:hover td{border:0;background:none;background-color:transparent;}


/* forms */
input,textarea,select{font-size:100%;margin:.2em 0;}
input,textarea{padding:.2em .4em;margin:0 2px 4px 2px;}
input.radio,input.checkbox{background-color:#fff;padding:2px;}
textarea{width:90%;}
form label{font-weight:normal;margin:0 2px;}
form .row label{display:block;margin:10px 2px 0 2px;}
fieldset{padding:.8em;border:1px solid #ddd;background-color:#fff;margin:1em 0;}
legend {
	padding:2px 15px 10px;
	text-transform:uppercase;
	font-style:italic;
	font-size:115%;
	background-color:#fff;
	border-top:1px solid #ddd;
}

/* lists */
ul,ol{margin:.4em 0 1em;line-height:150%;}
ul li,ol li{list-style-position:outside;margin-left:2.5em;}
dl{padding:.3em 0 .8em;}
dt{font-weight:bold;text-decoration:underline;}
dd {
	padding:10px;
}

/* other */
p{margin:.6em 0 .3em;line-height:150%;}
img{border:0;}
hr{color:#b4aca1;background-color:#b4aca1;border-bottom:1px solid #f6f4eb;}
small{font-size:80%;}
pre{overflow:auto;white-space:pre-wrap;/* <- css3 */white-space:0;/* <- ff */font-size:12px;font-family:"Courier New", Courier, "Lucida Console", Monaco, "DejaVu Sans Mono", "Nimbus Mono L", "Bitstream Vera Sans Mono";background-color:#fff;padding:.4em;margin:1em 0;}
pre{width:80%;overflow:hidden;border:1px solid #ddd;background-color:#fff;padding:.8em;margin:1em 0;}
blockquote{margin:1em 25% 1em 0;min-height:40px;padding:.6em 1em .6em 2.4em;border:1px dotted #ddd;font-style:italic;color:#474747;background:#fff url(images/blockquote.png) no-repeat 4px top;}
blockquote p{padding:8px;margin:2px;}
blockquote blockquote{margin:1em 0 1em;}


#header{display:block;position:relative;z-index:5;}

#header p.nav-extra{position:absolute;top:-25px;z-index:10;right:10px;}
#header a.nav-extra{width:64px;height:46px;display:block;float:right;margin-left:6px;}
#header a.nav-extra span{display:none;}
#header a.nav-extra.rss{background:transparent url(images/nav-icons.png) no-repeat right top;}
#header a.twitter{background:transparent url(images/nav-icons.png) no-repeat left top;}

/*** LOGO & HEADLINE ***/

#site-title{padding:4em 0 3.6em 0;}
#site-title #logo{font-size:400%;font-weight:bold;font-style:normal;margin:0;padding:0;float:left;line-height:60px;}
#site-title #logo a{color:#fff;text-decoration:none;text-shadow:#000 1px 1px 1px;font-variant:small-caps;letter-spacing:-0.04em;}
#site-title #logo a:hover{color:#ed1e24;}
#site-title p.headline{float:left;border-left:1px solid #999;margin:0 0 0 1em;padding:.2em 0 .2em .8em;font-weight:normal;font-size:140%;line-height:64px;letter-spacing:0.4em;}


/*** TOP NAVIGATION ***/

ul.navigation{
	background:#eee url(images/nav.png) repeat-x left top;
	width:100%;
	padding:0;
	margin:0;
	list-style-type:none;
	position:relative;
	z-index:15;
	height:35px;
}
ul.navigation li{display:block;position:relative;float:left;list-style-type:none;padding:0 1px 0 0;margin:0;background:transparent url(images/nav-div.png) no-repeat right top;}
ul.navigation li a{
	min-height:35px;
	display:block;
	font-weight:bold;
	font-size:115%;
	text-transform:uppercase;
	text-decoration:none;
	text-shadow:#fff 1px 1px 1px;
	text-align:center;
	color:#4e4e4e;
	padding:0 13px 0 11px;
	position:relative;
	line-height:35px;
}
ul.navigation li.first a span.title{background:transparent url(images/icons.png) no-repeat 0px -756px;padding-left:22px;}
ul.navigation li.active a span.title{background-position:0px -710px;}
ul.navigation li a:hover,ul#navigation li:hover a{background-color:#fff;}
ul.navigation li.active a:hover,ul#navigation li.active:hover a{background-color:#000;}
ul.navigation li a span.title{display:block;padding:0;}
ul.navigation li a span.pointer{display:none;}

ul.navigation li.active a span.pointer,
ul.navigation li.active-parent a span.pointer,
ul.navigation li.active-ancestor a span.pointer
{position:absolute;width:100%;height:7px;bottom:-7px;left:0;display:block;background:transparent url(images/nav-pointer.png) no-repeat center top;}

ul.navigation li.active a,
ul.navigation li.active-parent a,
ul.navigation li.active-ancestor a
{background:#000 url(images/nav-active.png) no-repeat left top;color:#dedede;text-shadow:#000 1px 1px 1px;}

ul.navigation li a span.arrow{display:none;}

/* fade on mouse out */
ul.navigation li a.fadeThis{position:relative;z-index:1;}
ul.navigation li a.fadeThis span.hover{position:absolute;top:0;left:0;display:block;height:100%;width:100%;background-color:#fff;z-index:-1;margin:0;padding:0;}

ul.navigation li.active a.fadeThis span.hover,
ul.navigation li.active-parent a.fadeThis span.hover,
ul.navigation li.active-ancestor a.fadeThis span.hover
{background:none;}

ul.navigation li.active a.fadeThis span.hover
{background-color:transparent;}

/* submenus */
ul.navigation ul li a span.pointer{display:none !important;}
ul.navigation ul{list-style-type:none;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;position:absolute;display:none;width:250px;top:32px;left:0;margin:0;padding:4px;line-height:normal;background-color:#fff;-moz-box-shadow:0px 8px 14px rgba(0,0,0,0.3);-moz-border-radius-bottomright:8px;-moz-border-radius-bottomleft:8px;-webkit-box-shadow:0px 8px 14px rgba(0,0,0,0.3);-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;box-shadow:0px 8px 14px rgba(0,0,0,0.3);border-bottom-right-radius:8px;border-bottom-left-radius:8px;}

ul.navigation li.active ul,
ul.navigation li.active-parent ul,ul#navigation li.active-ancestor ul
{background-color:#000;border-bottom:1px solid #333;border-left:1px solid #333;border-right:1px solid #333;}

ul.navigation li.active li a,
ul.navigation li.active-parent li a,
ul.navigation li.active-ancestor li a
{background:none;}

ul.navigation ul li{float:none;margin:0;background:none;}
ul.navigation ul li a span.title{padding-left:10px;}
ul.navigation ul li a{min-height:1px;height:auto;padding:8px 14px 8px 8px;margin:0;text-align:left;text-transform:none;line-height:125%;}
ul.navigation li.active ul a{background:none;}
ul.navigation ul li a:hover{background-color:#333;color:#fff;text-shadow:#333 1px 1px 1px;}
ul.navigation ul li.active a{color:#f8b013;}
ul.navigation ul li.active li a{color:#dedede;}
ul.navigation ul li a span.title{padding:0;}
ul.navigation ul ul{left:250px;top:0;border-top:1px solid #ccc;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
ul.navigation li:hover ul ul,ul#navigation li:hover ul ul ul,ul#navigation li:hover ul ul ul ul{display:none;}
ul.navigation li:hover ul,ul#navigation li li:hover ul,ul#navigation li li li:hover ul,ul#navigation li li li li:hover ul{display:block;}
ul.navigation li li a span.arrow{display:block;position:absolute;right:6px;top:0;line-height:32px;}


/* fade on mouse out */
ul.navigation li li a.fadeThis span.hover,
ul.navigation li.active li a.fadeThis span.hover,
ul.navigation li.active-ancestor li a.fadeThis span.hover{background-color:#333;}


/*** FEATURED CONTENT ***/

#featured-content{background:#5e5e5e url(images/featured.jpg) no-repeat center top;border-top:1px solid #818389;color:#fff;position:relative;margin:0 auto;color:#ccc;}
#featured-content ul.slides li.slide .slide-content{padding: 0 1em;}
#featured-content .slide-container{max-width:940px;margin:0;padding:0 0 1em 0;}

#featured-content h2{font-size:180%;font-weight:bold;text-shadow:#000 1px 1px 1px;margin:0;padding:.2em 0;line-height:140%;}
#featured-content p{margin:0 0 .6em 0;}
#featured-content a{color:#fff;text-decoration:none;font-weight:bold;}
#featured-content a:hover{background-color:rgba(0,0,0, 0.15);}
#featured-content .post-thumb img{border:4px solid #777;}
#featured-content .details{float:left;width:920px;}
#featured-content .summary{font-size:125%;font-style:italic;line-height:150%;}

/* fixed size if we have a slider */
#featured-content.withSlider .slide-container{height:174px;}



/*** MAIN LAYOUT ***/

.shadow-left{background:url(images/shadow.png) no-repeat left bottom;}
.shadow-right{background:url(images/shadow.png) no-repeat right bottom;padding-bottom:32px;position:relative;}
#main{background:#fff url(images/main-right.jpg) no-repeat right top;}
#main-inside{background:transparent url(images/main-left.jpg) no-repeat left top;min-height:380px;}

/*** MAIN LAYOUT ***/

/* default widths */
#primary-content{width:630px;}
#sidebar{width:310px;}
#sidebar2{width:230px;}

/* col-1 */
body.col-1 #primary-content{width:100%;left:0;}
body.col-1 #sidebar, body.col-1 #sidebar2{display:none;}

/* col-2-right, default */
body.col-2-right #primary-content{left:0;}
body.col-2-right #sidebar{right:0;}


/* col-3 */
body.col-3 #primary-content{left:230px;width:480px;}
body.col-3 #sidebar{right:0px;width:230px;}
body.col-3 #sidebar2{left:-480px;}

/* col-3-left */
body.col-3-left #primary-content{left:460px;width:480px;}
body.col-3-left #sidebar{left:-710px;width:230px;}
body.col-3-left #sidebar2{left:-250px;}  /* gs - s1 - (s1+s2) */
body.col-3-left #primary-content .blocks{margin-left:10px;}

/* col-3-right */
body.col-3-right #primary-content{left:0;width:480px;}
body.col-3-right #sidebar{left:0;width:230px;}
body.col-3-right #sidebar2{left:0;}
body.col-3-right #primary-content .blocks{margin-right:10px;}

#main{
  position: relative;
  min-height: 540px;
}

#primary-content,#sidebar,#sidebar2{
  top:0;
  position:relative;
  float:left;
  z-index:0;
  overflow:hidden;
  min-height: 150px;
}

#primary-content .blocks{
  padding: 1em;
}


#sidebar .blocks, #sidebar2 .blocks{padding:1em;margin:0;list-style-type:none;}

#sidebar .li.block{list-style-type:none;padding:0;margin:0;}
li.block, .arbitrary-block{margin:1em 0 2.6em;position:relative;}

#sidebar .block ul,#sidebar2 .block ul{list-style-type:none;margin:0 0 .4em 0;}
#sidebar .block li,#sidebar2 .block li{background:transparent url(images/icons.png) no-repeat 4px -816px;margin:0;padding:0 0 0 18px;}
#sidebar .block li:hover,#sidebar2 .block li:hover{background-position:4px -1005px;}
#sidebar .block li li,#sidebar2 .block li li{margin-left:.4em;}

h1.title{
  font-weight: bold;
  font-size: 250%;
  text-shadow: #fff 1px 1px 1px;
  margin: .5em 0 .3em 0;
  padding: 0;
}

/* post */
.post, .page{margin:1em 0 2em 0;padding:0 0 .6em;display:block;background:transparent url(images/dot.gif) repeat-x left bottom;}
.post.preview-title{background:none;}
body.single-page .page, body.single-post .post{background: none;margin:0;padding:0;}


h2.title{
  font-weight: bold;
  font-size: 180%;
  margin:0 0 .2em 0;
  padding:.2em 0 0 0;
  text-shadow: #fff 1px 1px 1px;
}

h2.title a{text-decoration:none;color:#4e4e4e;}
h2.title a:hover{color:#ed1e24;text-decoration:none;}

h3.title{font-size:140%;font-weight:bold;margin:1em 0 0 0;padding:0;}
h3.title a{text-decoration:none;color:#4e4e4e;}
h3.title a:hover{color:#ed1e24;text-decoration:none;}

.post-excerpt{font-size:90%;font-style:italic;color:#666;}
.post-short-info{margin:0;padding:0;}

.post-thumb img{border:4px solid #eee;}
.post-info{background:transparent url(images/info-bar.png) no-repeat right top;height:42px;margin-left:11px;color:#bbb;text-shadow:#fff 1px 1px 1px;}
.post-info a{font-weight:bold;color:#999;}
.post-info a:hover{color:#ed1e24;}
.post-info p.author{padding: 0 0 0 6px;margin:0;line-height:32px;}
.post-info p.comments{padding: 0 12px 0 0;margin:0;line-height:32px;}
.post-info p.comments a.comments{background:transparent url(images/icons.png) no-repeat 0px -49px;padding-left:20px;}
.post-info p.comments a.no.comments{background-position:0px 1px;}
.post-date{background:transparent url(images/info-bar.png) no-repeat left -75px;padding-left:11px;float:left;text-transform:uppercase;font-weight:bold;}
.post-date p.day{background:transparent url(images/info-bar.png) no-repeat right -42px;height:33px;padding:0 16px 0 0;margin:0;line-height:31px;color:#fff;}

.post-content p{margin:0 0 .8em 0;padding:0;}
.post-content a.post-edit-link{border:#ddd 1px solid;background-color:#fff;padding:3px 6px;text-decoration:none;}
.post-content a.post-edit-link:hover{border:#ff284b 1px solid;background-color:#ed1e24;color:#fff;}
.post-content a.more-link{background-color:#eee;text-decoration:none;color:#666;text-shadow:#fff 1px 1px 1px;padding:2px 6px 3px 6px;margin:0;font-size:85%;text-transform:uppercase;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.post-content a.more-link:hover{background-color:#999;color:#fff;text-shadow:#666 1px 1px 1px;}
.post-content a.more-link.loading{border:0;margin:0 4px;padding:3px 8px;border:0;background:transparent url(images/loader-white.gif) no-repeat center center;}

.post-tags{background:transparent url(images/icons.png) no-repeat 0px -104px;font-style:italic;padding-left:20px;line-height:22px;}

.post-tags ul li {
  margin-left: 0px;
}

.category-description{
  font-size: 115%;
  font-style: italic;
}

.about_the_author{
  padding: 8px 10px;
  line-height: 150%;
  background-color: #5e5e5e;
  color: #ccc;
  font-style: italic;
}

.about_the_author a{
  color: #f9f9f9;
  text-decoration: underline;
}

.about_the_author a:hover{
  color: #fff;
  text-decoration: none;
}

.about_the_author h3{
  margin: 0;
  padding: 0;
  font-size: 130%;
  font-weight: bold;
  font-style: normal;
  color: #f9f9f9;
}

.about_the_author div.avatar{
  float: left;
  margin-right: 8px;
}

.about_the_author div.avatar img{
  border: 6px solid #333;
}

.post-meta{padding:6px 4px;border-top:1px solid #ddd;background-color:#f6f6f6;color:#999;display:block;}
.post-meta td {
  background-color: transparent;
  border: 0;
  padding: 0 2px;
  margin: 0;
}

.post-meta a{color:#666;text-decoration:underline;}
.post-meta a:hover{color:#ed1e24;text-decoration:none;}

.post-meta .details{font-size:80%;line-height:150%;}


.post-meta a.control{display:block;padding:2px 6px 4px;background-color:#eee;text-shadow:#fff 1px 1px 1px;font-style:italic;text-decoration:none;font-size:115%;border:1px solid #fff;border-radius:3px;text-align:center;letter-spacing:-0.02em;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;cursor:pointer;}

.post-meta a.control:hover, .post-meta a.control:hover a{background-color:#0071bb;text-shadow:#666 1px 1px 1px;color:#fff;}

/* share this */
.shareThis{position:relative;float:left;}
.shareThis a.share:hover,.shareThis:hover a{}
.shareThis .bubble{width:288px;left:0px;top:0px;margin-top:40px;padding:4px;background-color:#fff;border:1px solid #ddd;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.4);-moz-border-radius:8px;-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.4);-webkit-border-radius:8px;box-shadow:0px 0px 8px rgba(0,0,0,0.4);border-radius:8px;}
.shareThis .bubble a{background:transparent url(images/socialize.jpg) no-repeat left bottom;width:32px;height:32px;float:left;position:relative;z-index:5;}
.shareThis .bubble li{list-style-type:none;padding:0;margin:0;float:left;}
.shareThis .bubble a.twitter{background-position:0px -32px;}
.shareThis .bubble a.digg{background-position:-32px -32px;}
.shareThis .bubble a.facebook{background-position:-64px -32px;}
.shareThis .bubble a.delicious{background-position:-96px -32px;}
.shareThis .bubble a.stumbleupon{background-position:-128px -32px;}
.shareThis .bubble a.google{background-position:-160px -32px;}
.shareThis .bubble a.linkedin{background-position:-192px -32px;}
.shareThis .bubble a.yahoo{background-position:-224px -32px;}
.shareThis .bubble a.technorati{background-position:-256px -32px;}

.shareThis .bubble a.twitter:hover{background-position:0 0px;}
.shareThis .bubble a.digg:hover{background-position:-32px 0px;}
.shareThis .bubble a.facebook:hover{background-position:-64px 0px;}
.shareThis .bubble a.delicious:hover{background-position:-96px 0px;}
.shareThis .bubble a.stumbleupon:hover{background-position:-128px 0px;}
.shareThis .bubble a.google:hover{background-position:-160px 0px;}
.shareThis .bubble a.linkedin:hover{background-position:-192px 0px;}
.shareThis .bubble a.yahoo:hover{background-position:-224px 0px;}
.shareThis .bubble a.technorati:hover{background-position:-256px 0px;}

.shareThis .bubble a span{display:none;}

.single-navigation a{font-size:85%;border:0;background-color:transparent;padding:2px 4px;color:#ccc;text-shadow:#fff 1px 1px 1px;text-decoration:none;}
.single-navigation a:hover{color:#ed1e24;}
.single-navigation div{display:block;line-height:normal;color:#ccc;}
.single-navigation .alignright{text-align:right;}

/* comments */
.tabbed-content div.section#section-comments{display:block;} /* show comment tab, just in case jquery is disabled */

ul.comments, li.comment,div#comments, div.comment-published {margin:0;padding:0;list-style-type:none;}
ul.comments, div#comments{width:100%;max-width:1000px;float:right;display:block;}
ul.comments ul.children{margin:0 0 0 40px;padding:0;}
li.comment, div.comment-published{display:block;margin:.4em 0;line-height:normal;}
li.comment .comment-head, .comment-head{background-color:#5e5e5e;background-repeat:no-repeat;background-position:left bottom;position:relative;color:#e4e4e4;padding:0 0 6px 0;margin:0;line-height:normal;}
li.comment .comment-head.comment-author-admin,li.comment .comment-head.bypostauthor{background-position:-1000px bottom;color:#fff;text-shadow:rgba(0,0,0,0.4) 1px 1px 1px;}

li.comment.withAvatars .comment-head, .comment-head{padding-left:78px;}
li.comment .comment-head .author, .comment-head .author{margin:0;padding: 4px 1em 16px 1em;line-height:150%;}
li.comment .comment-head a, .comment-head a{color:#fff;text-decoration:underline;}
li.comment .comment-head a:hover, .comment-head a:hover{text-decoration:none;}
li.comment .comment-head .author .by, .comment-head .author .by{font-weight:bold;}
li.comment .comment-body, .comment-body{background:#f6f6f6 url(images/comment-bg.gif) no-repeat right bottom;padding:.4em 1em;}
li.comment .comment-body p, .comment-body p{margin:0;padding: 0 0 1em 0;}
li.comment .avatar-box, .avatar-box{position:absolute;bottom:0px;width:48px;height:48px;left:8px;z-index:2;padding:3px;background-color:#fff;border: 1px solid #bfbfbf;}
li.comment .controls{position:absolute;right:10px;top:8px;margin-top:16px;}
li.comment .controls a{display:block;background-color:#e4e4e4;padding:4px 8px;color:#4e4e4e;text-shadow:#fff 1px 1px 1px;font-weight:bold;text-transform:uppercase;text-decoration:none;float:left;margin-right:4px;border-top:1px solid #fff;}
li.comment .controls a:hover{background-color:#ed1e24;border-top:1px solid #ff284b;color:#fff;text-shadow:#333 1px 1px 1px;}

li.ping{background:transparent url(images/dot.gif) repeat-x left bottom;padding:0 0 .6em 0;margin:.2em 0;line-height:150%;}
li.ping a{font-weight:bold;font-size:115%;text-decoration:none;}

/* comment form */
.comment-form{background:#f6f6f6 url(images/comment-bg.gif) no-repeat right bottom;border-top:1px solid #ddd;padding:1em;margin:1em 0;float:left;}
.comment-form #comment{width:90%;}

#cancel-reply{display:none;}
#comment_post_status{font-weight:bold;}

/* PAGE/COMMENT NAVIGATION */

.page-navigation, .comment-navigation{
  padding: 5px 0px;
  color: #333;
}

/* align to right on col-3-left layout, looks better */
body.col-3-left .page-navigation, body.col-3-left .comment-navigation{float: right;}

.page-navigation a, .page-navigation span.current, .page-navigation span.extend,
.comment-navigation a, .comment-navigation span.current, .comment-navigation span.dots{
  padding: 3px 5px 4px 5px;
  margin: 2px;
  float: left;
}

.page-navigation a, .comment-navigation a{
  text-decoration: none;
  border: 1px solid #ddd;
  background-color: #fff;
}
.page-navigation a:hover, .comment-navigation a:hover{
  border: 1px solid #ed1e24;
  color: #fff;
  background-color: #ed1e24;
}

.page-navigation span.current, .comment-navigation span.current{
  border: 1px solid #0072cf;
  color: #fff;
  background-color: #0072cf;
}

.comment-navigation a.loading{border:0;padding:3px 8px;border:0;background:transparent url(images/loader-white.gif) no-repeat center center;}

/* search */
div.search-form{position:relative;margin:0 8px 0 4px;width:auto !important;width: 400px;max-width:400px;}
div.search-form form > div:first-child {
	border:0;
	margin:0;
	padding:0;
	background:none;
	background-color:transparent;
}
div.search-form .form-item{background-repeat:no-repeat;background-position:left top;height:34px;display:block;margin-right:55px;}
div.search-form input.text{border:0;margin:9px 0 0 34px;padding:0;}
div.search-form input.submit{background-color:transparent;background-repeat:no-repeat;background-position:right -34px;height:34px;width:56px;margin:0;padding:0;position:absolute;right:0;top:0;border:0;text-transform:uppercase;text-shadow:#fff 1px 1px 1px;font-weight:bold;font-size:160%;color:#9b9b9b;cursor:pointer;}
div.search-form input.submit:hover{background-position:right bottom;}
#primary-content div.search-form{margin:2em 0;}

/* block style */
.block h3.title{font-weight:bold;font-size:130%;background-repeat:no-repeat;background-position:left top;color:#fff;line-height:100%;letter-spacing:normal;margin:0;padding:0;text-shadow:1px 1px 1px rgba(0,0,0,0.4);text-transform:uppercase;text-align:left;line-height:23px;}
.block h3.title span{background-repeat:no-repeat;background-position:right top;margin-left:7px;display:block;padding:4px 8px 0 4px;}
.block h3.title a{color:#fff;text-decoration:none;}
.block h3.title a:hover{color:#FFFF00;}
.block .block-div{background-color:transparent;background-repeat:no-repeat;background-position:left bottom;width:7px;height:23px;float:left;}
.block .block-div-arrow{background-color:transparent;background-repeat:no-repeat;background-position:right bottom;height:23px;margin-left:7px;}

.block fieldset{margin:0;padding:0 1.3em;border:0;background-color:transparent;}

.box {
	max-width:600px;
	position:relative;
	z-index:5;
}
.box-top-left{background:transparent url(images/box.png) no-repeat left top;padding-left:7px;}
.box-top-right{background:transparent url(images/box.png) no-repeat right top;height:7px;}
.box-main{background:transparent url(images/box.png) no-repeat left bottom;padding-left:7px;}
.box-main .box-content{background:transparent url(images/box.png) no-repeat right bottom;padding:10px 7px 10px 0;}

.box a{color:#4E4E4E;}
.box .tag-cloud{text-align:justify;line-height:150%;}
.box .tag-cloud a{vertical-align:middle;text-decoration:none;padding:0 0.2em;letter-spacing:-0.02em;color:#ccc;text-shadow:#000 1px 1px 1px;}
.tag-cloud a:hover{background-color:#dde90d;color:#000;text-shadow:rgba(0,0,0,0.6) 1px 1px 1px;}

.sidebar-tabs{position:relative;padding-top:44px;}

ul.box-tabs, ul.box-tabs li{padding:0;margin:0;line-height:100%;list-style-type:none;background:none;}
ul.box-tabs{position:absolute;right:6px;top:0;z-index:10;height:50px;overflow:hidden;}
ul.box-tabs li{float:right;margin-right:3px;}

ul.box-tabs li a{width:43px;height:50px;display:block;background:transparent url(images/box-tabs.png) no-repeat left top;}

ul.box-tabs li.categories a{background-position:0px 0px;}
ul.box-tabs li.popular a{background-position:-43px 0px;}
ul.box-tabs li.recentcomm a{background-position:-86px 0px;}
ul.box-tabs li.tags a{background-position:-129px 0px;}
ul.box-tabs li.archives a{background-position:-172px 0px;}

ul.box-tabs li a:hover{height:43px;}
ul.box-tabs li.active a:hover{height:50px;}

ul.box-tabs li.categories.active a,ul.box-tabs li.categories a:hover{background-position:0px -50px;}
ul.box-tabs li.popular.active a,ul.box-tabs li.popular a:hover{background-position:-43px -50px;}
ul.box-tabs li.recentcomm.active a,ul.box-tabs li.recentcomm a:hover{background-position:-86px -50px;}
ul.box-tabs li.tags.active a,ul.box-tabs li.tags a:hover{background-position:-129px -50px;}
ul.box-tabs li.archives.active a,ul.box-tabs li.archives a:hover{background-position:-172px -50px;}

ul.box-tabs li a span{display:none;}

/* menu list */
.box ul.menuList,.box ul.menuList li{margin:0;padding:0;list-style-type:none;font-size:100%;}
.box ul.menuList{background:transparent url(images/dot2.gif) repeat-x left bottom;margin-bottom:.6em;padding-bottom:2px;}
.box ul.menuList li{background:transparent url(images/dot2.gif) repeat-x left top;display:block;padding:2px 0 0px;}
.box ul.menuList li li{background-image:none;}
.box ul.menuList li a{display:block;text-decoration:none;padding:3px 25px 3px 0;color:#ccc;}
.box ul.menuList.categories li a{padding-right:25px;} /* rss icon space */
.box ul.menuList li a:hover{color:#fff;}
.box ul.menuList li a span.entry{background:transparent url(images/icons.png) no-repeat 4px -816px;padding-left:18px;display:block;font-weight:bold;}
.box ul.menuList li a span.entry .details{font-weight:normal;font-style:italic;display:block;}
.box ul.menuList li a span.entry .details.inline{display:inline;}
.box ul.menuList li a:hover span.entry{background-position:4px -1005px;}
.box ul.menuList li li a span.entry{background:none;}
.box ul.menuList .fadeThis{position:relative;z-index:1;}
.box ul.menuList span.hover{position:absolute;top:0;left:0;display:block;height:100%;width:100%;background-color:#747474;z-index:-1;padding:0!important;}

/* sub menus */
.box ul.menuList ul{margin:0 0 1em 0;padding:0;}
.box ul.menuList li li{margin:0 0 0 1.8em;padding:0;float:none;background:none;width:auto;}
.box ul.menuList li li li{margin-left:1em;}
.box ul.menuList li li a{text-transform:none;padding:0;font-size:100%;font-style:italic;}
.box ul.menuList li li a:hover{background:none;}

/* rss popups */
.box ul.menuList li.cat-item{position:relative;}
.box ul.menuList li.cat-item a.rss{position:absolute;padding:0;margin:0;display:none;background:transparent url(images/icons.png) no-repeat center -664px;width:24px;height:22px;top:0;right:6px;z-index:10;cursor:pointer;}
.box ul.menuList li.cat-item li.cat-item a.rss{background:none;visibility:hidden;}
.box ul.menuList li li .fadeThis{position:static;background:none;}
.box ul.menuList li li .fadeThis span.hover{display:none;}


.box ul.menuList.recentcomm li a span.entry,.box ul.menuList.recentcomm li a:hover span.entry{background:none;padding-left:0px;margin-left:40px;}
.box ul.menuList.recentcomm li .avatar{
  float: left;
  margin: 2px 4px 2px 0;
}

/*** FOOTER ***/

#footer{
  background: #fff;
}

/* block slider */
#footer-blocks{position:relative;margin:0 auto 1em auto;}
#footer-blocks.withSlider{width:940px;}

#footer-blocks .leftFade,#footer-blocks .rightFade{background:transparent url(images/bg-trans2.png) repeat-y left top;position:absolute;width:46px;min-height:100%;height:100%;/* <- for opera */top:0;z-index:10;}
#footer-blocks .leftFade{left:0;}
#footer-blocks .rightFade{background-position:right top;right:0;}
.slide-container{width:100%;overflow:hidden;position:relative;margin:0 auto;}
ul.slides{position:relative;top:0;left:0;list-style-type:none;margin:0;padding:0;width:100%;min-height:100%;display:block;}
#footer-blocks .slide-navigation a.next,#footer-blocks .slide-navigation a.previous{background:transparent url(images/block-nav.png) no-repeat left top;width:30px;height:42px;position:absolute;z-index:12;top:60px;}
#footer-blocks .slide-navigation a.next{background-position:right top;right:0;}
#footer-blocks .slide-navigation a.previous{left:0;}
#footer-blocks .slide-navigation a.next:hover{background-position:right bottom;}
#footer-blocks .slide-navigation a.previous:hover{background-position:left bottom;}
#footer-blocks .slide-navigation a.next span,#footer-blocks .slide-navigation a.previous span{display:none;}
ul.slides li.slide{list-style-type:none;position:relative;top:0;margin:0;padding:1em 0 0;display:block;}

/* only hide if slider is enabled (it is if there are more than 3 blocks) */
.withSlider ul.slides li.slide.page-content{position:absolute;display:none;width:940px;}

#footer-blocks ul.slides li.slide .slide-content{width:95%;margin:0 auto;}

ul.slides li.slide .slide-content ul.blocks,#footer-blocks ul.slides li.slide .slide-content ul.blocks li.block{list-style-type:none;margin:0;padding:0;}
ul.slides li.slide .slide-content ul.blocks li.block{width:33%;float:left;margin:0;padding:0;position:relative;}
ul.slides li.slide .slide-content ul.blocks li.block .block-content{padding:0 .8em;}
/* block width based on widget number (default block width is 30% + spacing, 3 blocks per slide) */
ul.slides li.slide .slide-content ul.blocks.widgetcount-1 li.block{width:100%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-2 li.block{width:50%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-3 li.block{width:33%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-4 li.block{width:25%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-4 li.block .block-content{padding:0 .6em;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-5 li.block{width:20%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-5 li.block .block-content{padding:0 .5em;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-6 li.block{width:16.6%;}
ul.slides li.slide .slide-content ul.blocks.widgetcount-6 li.block .block-content{padding:0 .4em;}

ul.slides li.slide .slide-content ul.blocks li.block h4.title{font-size:160%;font-weight:bold;background:#eee url(images/bg-lightgray.png) no-repeat left top;padding:.4em .6em;margin:0 0 .2em;text-shadow:#fff 1px 1px 1px;line-height:100%;color:#797979;position:relative;}

ul.slides li.slide.slide-2,
ul.slides li.slide.slide-3,
ul.slides li.slide.slide-4,
ul.slides li.slide.slide-5,
ul.slides li.slide.slide-6,
ul.slides li.slide.slide-7,
ul.slides li.slide.slide-8{display:none;}

/* copyright & other info */
#footer #copyright {
	display:block;
	padding:1em 2em;
	text-align:center;
	border-top:1px solid #ddd;
	line-height:200%;
	overflow:hidden;
}

#footer a.rss-subscribe {
	padding:4px 8px 4px 28px;
	background:#666 url(images/icons.png) no-repeat 2px -666px;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	margin-right:2px;
}
#footer a.valid-xhtml,#footer a.valid-css,#footer a#goTop{
	padding:4px 8px 4px 8px;
	color:#fff;
	background-color:#666;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	margin-right:2px;
}

/*** BLOCKS ***/

/* info */
.block-info{font-size: 150%;font-weight:bold;text-align:center;padding: .3em .7em;background-color:#eee;text-shadow:#fff 1px 1px 1px;border:1px solid #fff;}

/* increase right padding to fit rss icon */
.block-categories ul.menuList.linkBased li a span.entry{display:block;text-decoration:none;padding-right:36px;}

/* twitter */
.block-twitter ul, .block-twitter ul li{padding:0;margin:0;list-style-type:none;}
.block-twitter ul{background:transparent url(images/dot.gif) repeat-x left top;padding-top:.2em;}
.block-twitter ul li,.block-twitter ul li:hover{background:transparent url(images/dot.gif) repeat-x left bottom;margin-bottom:.2em;padding-bottom:.2em;}
.block-twitter ul li span.entry{background:transparent url(images/icons.png) no-repeat 6px -383px;padding-left:24px;display:block;}
.block-twitter div.avatar{float:left;display:block;margin-left:10px;}
.block-twitter div.info{float:left;display:block;padding:2px 0 0 10px;line-height:175%;font-weight:bold;}
.block-twitter div.info .followers{font-size:125%;}
.block-twitter a.date{color:#bbb;text-decoration:none;font-style:italic;font-size:85%;display:block;}
.block-twitter a.date:hover{color:#ed1e24;}
.block-twitter .links{text-align:right;background:transparent url(images/bg-trans.png) repeat-x left bottom;padding-right:1em;}
.block-twitter a.followMe{position:absolute;background:transparent url(images/twitter.png) no-repeat center top;width:45px;height:57px;display:block;top:-14px;right:20px;z-index:4;}
.block-twitter a.followMe span{display:none;}
.block-twitter h3.title span{padding-right:60px;}
.block-twitter .loading{background:transparent url(images/loader-white.gif) no-repeat 6px 6px;padding:6px 10px 6px 28px;float:left;}

/* flickr */
.block-flickr h3.title{position:relative;}
.block-flickr h3.title span{padding-left:42px;}
.block-flickr h3.title span.icon{background:transparent url(images/flickr.png) no-repeat left top;top:30%;left:0;position:absolute;width:37px;height:17px;padding:0;}
.block-flickr ul,.block-flickr ul li{list-style-type:none;padding:0;margin:0;}
.block-flickr li{float:left;}
.block-flickr li a{padding:0 2px;display:block;}
.block-flickr li img{border:5px solid #eee;}
.block-flickr .flickrGallery{padding-left:4px;}

/* login */
.block-login .avatar img{border:6px solid #ddd;}

/*** MISC ***/

/* lightbox */
div#fancyoverlay{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;display:none;z-index:30;}
div#fancywrap{text-align:left;}
div#fancyloading{position:absolute;height:40px;width:40px;cursor:pointer;display:none;overflow:hidden;background:transparent;z-index:100;}
div#fancyloading div{position:absolute;top:0;left:0;width:40px;height:480px;background:transparent url(images/loader.gif) no-repeat;}
div#fancyloadingoverlay{position:absolute;background-color:#FFF;z-index:30;}
div#fancyouter{position:absolute;top:0;left:0;z-index:90;padding:18px 18px 33px;margin:0;overflow:hidden;background:transparent;display:none;}
div#fancyinner{position:relative;width:100%;height:100%;background-color:#eee;-moz-box-shadow:0px 0px 20px rgba(0,0,0,0.85);-moz-border-radius:8px;-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.85);-webkit-border-radius:8px;box-shadow:0px 0px 20px rgba(0,0,0,0.85);border-radius:8px;}
div#fancycontent{margin:0;z-index:100;position:absolute;}
div#fancydiv{background-color:#000;color:#fff;height:100%;width:100%;z-index:100;}
img#fancyimg{position:absolute;top:0;left:0;border:0;padding:0;margin:0;z-index:100;width:100%;height:100%;}
#fancyframe{position:relative;width:100%;height:100%;display:none;}
#fancyajax{width:100%;height:100%;overflow:auto;}
a#fancyleft,a#fancyright{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;z-index:111;display:none;outline:none;}
a#fancyleft{left:0;}
a#fancyright{right:0;}
span.fancyico{position:absolute;top:50%;margin-top:-15px;width:30px;height:42px;z-index:112;cursor:pointer;display:block;opacity:0.5;}
span#fancyleftico{left:-9999px;background:transparent url(images/block-nav.png) no-repeat left top;}
span#fancyrightico{right:-9999px;background:transparent url(images/block-nav.png) no-repeat right top;}
a#fancyleft:hover{visibility:visible;}
a#fancyright:hover{visibility:visible;}
a#fancyleft:hover span{left:20px;}
a#fancyright:hover span{right:20px;}
.fancybigIframe{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}
div#fancytitle{width:100%;z-index:100;display:none;background-color:#4e4e4e;color:#fff;text-align:center;font-weight:bold;font-size:150%;padding:.2em 0;}

/* page controls */
#pageControls{position:absolute;right:0;top:0;width:25%;height:100px;z-index:4;}
#pageControls a{background:transparent url(images/page-controls.png) no-repeat right top;position:absolute;width:22px;height:21px;right:10px;top:10px;cursor:pointer;z-index:15;}
#pageControls a:hover{background-position:right bottom;}
#pageControls a.fontSize{background-position:left top;right:36px;}
#pageControls a.fontSize:hover{background-position:left bottom;}


/* other */
.clearFieldBlurred{color:#ccc;font-style:italic;font-weight:normal;}
.clearFieldActive{color:#4e4e4e;font-weight:bold;}
.error{color:#ed1e24;}
.success{color:#a0c207;}
.divider{padding:1em 0 0 0;display:block;background:transparent url(images/dot.gif) repeat-x left bottom;height:2px;min-height:2px;}
.altText{font-style:italic;}
.highlight{background-color: #FFE4B5;}

/* clearfix */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}

img.alignleft,img.alignright{padding:3px;margin-top:4px;margin-bottom:4px;border-radius:4px;}
.alignleft{float:left;margin-right:8px;}
.alignright{float:right;margin-left:8px;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;text-align:center;}
.bubble-trigger{position:relative;}
.bubble{display:none;position:absolute;z-index:10;}

/* jquery caption - to do */
.imgCaption{position:relative;overflow:hidden;padding:0;border:0;margin-top:8px;margin-bottom:8px;display:inline-block;}
.imgCaption p{position:absolute;background-color:#000;color:#fff;width:100%;font-weight:bold;padding:0;margin:0;line-height:150%;text-align:center;border:0;z-index:10;left:0;opacity:0.6;}
.imgCaption p span{ padding:12px;display:block;}


.wp-caption{border: 1px solid #ddd;text-align:center;background-color:#f3f3f3;padding-top:4px;margin-top:10px;margin-bottom:10px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.wp-caption img{margin:0;padding:0;border:0 none;}
.wp-caption-dd{font-size:11px;line-height:17px;padding:0 4px 5px;margin:0;}

.webshot{position:absolute;left:-20000px;background-color:rgba(0,0,0,0.4);padding:5px;z-index:10;display:none;-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.4);-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.4);box-shadow:0px 0px 8px rgba(0,0,0,0.4);}
.webshot img{margin:0;padding:0;}

/* smiley adjustment */
img.wp-smiley{vertical-align:-15%;}

/* tabs (code inspired by smashing magazine's comment tabs */
ul.tabs li a{}
ul.tabs li a:hover{}
.tabbed-content div.sections{position:relative;overflow:hidden;}
.tabbed-content div.section{position:relative;display:none;}
.tabbed-content div.section h6.title{font-size:115%;font-weight:normal;font-style:italic;text-transform:uppercase;margin:0;padding:0;}

.tabs,.tabs li{margin:0;padding:0;list-style-type:none;}
.tabs-wrap{padding-bottom:30px;background-color:transparent;background-repeat:no-repeat;background-position:left 34px;margin:2em 0 .4em 0;}
.tabs{list-style:none;overflow:hidden;height:34px;position:relative;text-transform:uppercase;padding-right:12px;}
.tabs li{float:right;text-align:center;height:31px;background-color:transparent;background-repeat:no-repeat;background-position:right top;margin-right:-20px;padding-right:24px;margin-top:4px;position:relative;z-index:0;bottom:-4px;/* <-for the animation */line-height:28px;}
.tabs li a{height:31px;color:#4e4e4e;float:left;text-decoration:none;text-shadow:#fff 1px 1px 1px;font-weight:bold;background-color:transparent;background-repeat:no-repeat;background-position:left top;padding-left:26px;padding-right:4px;}
.tabs li:hover{background-position:right -66px;}
.tabs li:hover a,.tabs li a:hover{background-position:0 -66px;}
.tabs li.active{background-position:100% -33px;z-index:8;padding-right:24px;}
.tabs li.active a,.tabs li.active a:hover{background-position:0 -33px;color:#fff;text-shadow:rgba(0,0,0,0.4) 1px 1px 1px;}

a.js-link{cursor:pointer;text-decoration:underline;}
a.js-link:hover{text-decoration:none;}

.hidden{display:none;}

/* form container */
div.form{width:50%;}
#sidebar div.form,#footer div.form{width:100%;}
/* full width if there's only one widget in the footer */
#footer ul.slides li.slide .slide-content ul.blocks.widgetcount-1 div.form{width:50%;}
div.form .error{font-weight:bold;}
div.form fieldset{margin:0;padding:0;background:transparent;border:0;}

/*** WORDPRESS: SUPPORT FOR OTHER WIDGETS ***/

/* tag cloud */
.block-widget_tag_cloud{text-align:justify;line-height:150%;}
.block-widget_tag_cloud a{vertical-align:middle;text-decoration:none;padding:0 0.2em;letter-spacing:-0.02em;color:#666;}
.block-widget_tag_cloud a:hover{background-color:#dde90d;color:#000;}

/* calendar */
table#wp-calendar{width:100%;padding:0;margin:0;}
table#wp-calendar td,table#wp-calendar th{text-align:center;padding:2px;}
table#wp-calendar th{font-weight:bold;font-size:125%;}
table#wp-calendar caption{font-style:italic;text-align:right;}

.post-ratings{font-style:italic;font-size:85%;}
.post-ratings img{vertical-align:-10%;}
.post-ratings span.post-ratings-text{display:none !important;}

/*** PRINT STYLES ***/

@media print {
 body{background:white;color:black;font-size:10pt}
 .header-wrapper{display:none;}
 .shadow-left.main-wrapper,.main-wrapper .shadow-right,#main,#main-inside{background:none;}
 #main{background-color:#fff;}
 .page-content{width:100% !important;max-width:none !important;min-width:0 !important;}
 #footer-blocks .leftFade,#footer-blocks .rightFade{display:none;}
}
.block ul {
	padding:0px;
}
ul.menu li {
	margin:0px;
}
li.leaf {
	list-style-image:none;
	list-style-type:none;
}
li.collapsed {
	list-style-image:none;
	list-style-type:none;
}
li.expanded {
	list-style-image:none;
	list-style-type:none;
}

li a.active {
	color:#0071BB;
}
.item-list ul li {
	list-style-image: none;
	list-style-type:none;
	margin:none;
	padding:0 0 0 18px;
	margin:0px;
	text-align:left;
}
.with-tabs {
  clear:both;
  margin-top:-20px;
  width:100%;
}
li.sfHover {
	background-color:#FFFFFF !important;
}
#copyright div.block{
	width:225px;
	float:left;
	margin:5px;
}
div.attribution {
	width:100%;
	float:left;
}
div.footer_icon {
	width:100%;
	float:left;
}
.footer_content {
	
}
.footer_icon div {
	
}
div.author div.links {
	//width:130px;
}
div.author div.links ul {
	text-align:right;
}
div.author div.links ul li {
	margin:0px;
}
span.submitted {
}
div.theme-info h2 {
	font-size:100%;
}
div.theme-info div.description {
	font-size:75%;
}
div.logo {
	text-align:right;
}
div.links ul li {
  margin: 0px;
}
div.messages {
  padding: 10px;
}

